{% extends 'home/base.html' %}
{% load get_at_index %}

{% block title %}Thermometriemuseum Geraberg{% endblock %}
{% block subtitle %}Editor{% endblock %}

{% block back-btn-text %}Disabled{% endblock %}
{% block back-btn-disable %}disable{% endblock %}
{% block disable-drag %}disable{% endblock %}

{% block content %}
  {% if show_debug %}
  <div class="alert alert-info">
    <p style="white-space: pre-line">{{ debug_field }}</p>
  </div>
  {% endif %}

  {% if show_success_msg %}
  <div class="alert alert-success">
    <p style="white-space: pre-line">{{ success_msg }}</p>
  </div>
  {% endif %}

  {% if show_error %}
  <div class="alert alert-danger">
    <p style="white-space: pre-line">{{ error_msg }}</p>
  </div>
  {% endif %}

  <div class="row" style="margin-top: 50px">
    <div class="editor col-5" style="background:white; height: 100%">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Add Category</h3>
        <br>
        <div class="form-group">
          <label for="add-cat-cat-name">Category Name</label>
          <input class="form-control" name="cname" type="text" placeholder="Enter text here..." id="add-cat-cat-name" required>
        </div>
        <button type="submit" name="ed" value="add_cat" class="btn btn-primary">Add</button>
      </form>
    </div>

    <div class="editor editor-add-entry col-6" style="background:white; height: 100%">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Add Entry</h3>
        <br>
        <div class="form-group">
          <label for="add-entr-entr-name">Entry Name</label>
          <input class="form-control" name="ename" type="text" placeholder="Enter text here..." id="add-entr-entr-name" required>
        </div>
        <div class="form-group">
          <label for="add-entr-entr-type">Entry Type</label>
          <select name="etype" class="form-control" id="add-entr-entr-type">
            {% for typ in entry_types %}
            <option value="{{ typ.pk }}">{{ typ.type_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="add-entr-entr-cat">Entry Category</label>
          <select name="ecat" class="form-control" id="add-entr-entr-cat">
            {% for cat in categories %}
            <option value="{{ cat.pk }}">{{ cat.category_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="add-entr-entr-file">Entry File</label>
          <input type="file" name="efile" class="form-control-file" id="add-entr-entr-file">
        </div>
        <div class="form-group">
          <label for="add-entr-entr-desc">Entry Short Description</label>
          <textarea class="form-control" name="edesc" id="add-entr-entr-desc" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="add-entr-entr-fdesc">Entry Full Description</label>
          <textarea class="form-control" name="efdesc" id="add-entr-entr-fdesc" rows="6"></textarea>
        </div>
        <button type="submit" name="ed" value="add_entry" class="btn btn-primary">Add</button>
      </form>
    </div>

{% endblock %}
{% load static %}
