{% extends 'home/base.html' %}
{% load static %}

{% block title %}Thermometriemuseum Geraberg{% endblock %}
{% block subtitle %}{{ category_name }}{% endblock %}

{% block content %}

  <!-- Test
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>
  <p>Paragraph</p>
  -->

  {% if video_len > 0 %}
  <h3>Videos</h3>
  <div class="row">
    {% for obj in video_objects %}
    <div class="col-3 mb-2">
      <div class="card" style="">
        <div class="card-body">
          <h5 class="card-title">{{ obj.entry_name }}</h5>
          <p class="card-text">{{ obj.entry_desc }}</p>
        </div>
        <a href="{% url 'home:video' obj.id %}">
          <img src="{% static 'home/img/Videoicon.png' %}" style="padding: 1.5vw" class="card-img-top" alt="...">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>
  {% endif %}

  {% if image_len > 0 %}
  <h3>Images</h3>
  <div class="row">
    {% for obj in image_objects %}
    <div class="col-3 mb-2">
      <div class="card" style="">
        <div class="card-body">
          <h5 class="card-title">{{ obj.entry_name }}</h5>
          <p class="card-text">{{ obj.entry_desc }}</p>
          <!--<a href="{% url 'home:presentation' obj.id %}" class="btn btn-primary">Go somewhere</a>-->
        </div>
        <a href="{% url 'home:image' obj.id %}">
          <img src="{{ MEDIA_URL }}{{ obj.entry_file_url }}" class="card-img-top" alt="...">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>
  {% endif %}

  {% if presentation_len > 0 %}
  <h3>Presentations</h3>
  <div class="row">
  {% for obj in presentation_objects %}
    <div class="col-3 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ obj.entry_name }}</h5>
          <p class="card-text">{{ obj.entry_desc }}</p>
          <!--<a href="{% url 'home:presentation' obj.id %}" class="btn btn-primary">Go somewhere</a>-->
        </div>
        <a href="{% url 'home:presentation' obj.id %}">
          <img src="{% static 'home/img/Presentationicon.png' %}" class="card-img-top" alt="...">
        </a>
      </div>
    </div>
  {% endfor %}
  <br><br>
  {% endif %}
  </div>

{% endblock %}