{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiosk // {{ image_name }}</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body >
    {% if not image_view  %}
        <div class="container">
            <div class="row">
                <div class="col-sm-2 d-flex align-items-center">
                    <a href="{% url 'home:index' %}"><i class="fas fa-chevron-circle-left" style="color:red;font-size:50px"></i></a>
                </div>
                <div class="col-sm-10 d-flex justify-content-around">   
                    <img src="{% static 'home/img/imagefolder.png' %}" alt=""> <br> 
                </div>
            </div>
        {% for image in images %}
            <div class="card" style="width: 18rem;">
                <a href="{% url 'home:image' image.id %}">
                    <img src="{{ MEDIA_URL }}{{ image.entry_file_url }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ image.entry_name }}</h5>
                    <a href="{% url 'home:image' image.id %}" class="btn btn-primary">View</a>
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <div class='gallery-image' style='background-image: url({{ MEDIA_URL }}{{ image_view.entry_file_url }});'>
        </div> 
        <br>
        <div class="description-block">
            <a href="/" style="color: white;">Back</a>
            <br>
            <p style="color: white;">{{ image_view.entry_desc }}</p>
            <p style="color: white;">{{ image_view.entry_desc_full }}</p>
        </div>
    </div>
    {% endif %}
</body>

</html>