{% extends 'home/base.html' %}
{% load static %}

{% block title %}Thermometriemuseum Geraberg{% endblock %}
{% block subtitle %}{{ category_name }}{% endblock %}

{# {% block back-btn-text %}Back{% endblock %} #}
{# {% block back-btn-disable %}disable{% endblock %} #}

{% block content %}

  <!-- Test
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>
  <p>Paragraph</p>
  -->

  {% if video_len > 0 %}
  <h4>Videos</h4>
  {% for obj in video_objects %}
  <a href="{% url 'home:video' obj.id %}"><p>{{ obj.entry_name }}</p></a>  
  {% endfor %}
  {% endif %}

  {% if image_len > 0 %}
  <h4>Images</h4>
  {% for obj in image_objects %}
  <a href="{% url 'home:image' obj.id %}"><p>{{ obj.entry_name }}</p></a>  
  {% endfor %}
  {% endif %}
           
  {% if presentation_len > 0 %}
  <h4>Presentations</h4>
  <div class="row">
        {% for obj in presentation_objects %}
            <div class="col-sm-3 m-3">
                <div class="card" style="width: 12rem;">
                  <a href="{% url 'home:presentation' obj.id %}">
                    <img src="{% static 'home/img/Presentationicon.png' %}" class="card-img-top" alt="...">
                  </a> 
                  <div class="card-body">
                    <h5 class="card-title">{{ obj.entry_name }}</h5>
                    <a href="{% url 'home:presentation' obj.id %}" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
        {% endfor %}
  {% endif %}
  </div>
  
{% endblock %}
 <a href="{% url 'home:presentation' obj.id %}">
           <img src="{% static 'home/img/Presentationicon.png' %}" class="card-img-top" alt="...">
        </a>  