{% extends 'home/base.html' %}

{% block title %}Thermometriemuseum Geraberg{% endblock %}
{% block subtitle %}{{ category_name }}{% endblock %}

{# {% block back-btn-text %}Back{% endblock %} #}
{# {% block back-btn-disable %}disable{% endblock %} #}

{% block content %}
  {% if video_len > 0 %}
  <h4>Videos</h4>
  {% for obj in video_objects %}
  <a href="{% url 'home:video' obj.id %}"><p>{{ obj.entry_name }}</p></a>  
  {% endfor %}
  {% endif %}

  {% if image_len > 0 %}
  <h4>Images</h4>
  {% for obj in image_objects %}
  <a href="{% url 'home:image' obj.id %}"><p>{{ obj.entry_name }}</p></a>  
  {% endfor %}
  {% endif %}
           
  {% if presentation_len > 0 %}
  <h4>Presentations</h4>
  {% for obj in presentation_objects %}
  <a href="{% url 'home:presentation' obj.id %}"><p>{{ obj.entry_name }}</p></a>  
  {% endfor %}
  {% endif %}
{% endblock %}
