/* Width relative font sizes */
h1 { font-size: 2.70vw !important; }
h2 { font-size: 2.10vw !important; }
h3 { font-size: 1.80vw !important; }
h4 { font-size: 1.45vw !important; }
h5 { font-size: 1.20vw !important; }
h6 { font-size: 0.95vw !important; }
p  { font-size: 0.90vw !important; }


.editor
{
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 2px;
  margin-top: 30px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.125);
  background: white;
  /*width: 10vw;*/
}

body {
  background-image: url("/static/home/img/bg3.png");
}

.card {
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.125);
  margin-right: 15px;
  margin-top:15px;
  width: 16.6vw;
}

.card-img-top{
  padding: 6px;
}

.back-btn {
  width: 120px;
  height: 60px;
  font-size: 26px !important;
  border-radius: 0px !important;
}

/* Image View Styles */
.gallery-image-body {
    background: white;
    overflow: hidden;
}

.gallery-image-container {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
}

.description-block {
  margin: 0 auto;
  /* margin-top: -12.5vh; */
  padding: 20px 40px;
  height: auto;
  background: rgba(0.0, 0.0, 0.0, 0.2);
  box-shadow: 0px 0px 15px 10px rgba(0.0, 0.0, 0.0, 0.4);
  width: 75vw;
  color: white;
  z-index: 9999;
}

/* Drag Scroll */
.dragscroll {
  height: 100vh;
  overflow: auto;
}

/* Disables an element */
.disable {
  display: none !important;
}
