/* Width relative font sizes */
h1 { font-size: 2.50vw !important; }
h2 { font-size: 1.90vw !important; }
h3 { font-size: 1.60vw !important; }
h4 { font-size: 1.25vw !important; }
h5 { font-size: 1.00vw !important; }
h6 { font-size: 0.75vw !important; }
p  { font-size: 0.70vw !important; }

/* Image View Styles */
.gallery-image-body {
    background: white;
    overflow: hidden;
}

.gallery-image-container {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
}

.description-block {
  margin: 0 auto;
  /* margin-top: -12.5vh; */
  padding: 20px 40px;
  height: auto;
  background: rgba(0.0, 0.0, 0.0, 0.2);
  box-shadow: 0px 0px 15px 10px rgba(0.0, 0.0, 0.0, 0.4);
  width: 75vw;
  color: white;
  z-index: 9999;
}

/* Drag Scroll */
.dragscroll {
  height: 100vh;
  overflow: auto;
}

/* Disables an element */
.disable {
  display: none !important;
}



